body{
    background-color:#333;
color:#eee;
font-family:"Quicksand", sans-serif;
text-align:center;
padding: 100px;
}

.btn {
    font-size:1em;
    cursor:pointer;
    color: aliceblue;
  }

  .crono {
      font-size: 4em;
      
  }
